.auth-content {
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 280px;
    border-radius: 10px;
    margin: 0px 10px;
}
.back {
    &:hover {
        background-color:rgb(218, 218, 218) ;
    }
    font-weight: bold;
    background-color: transparent;
    margin: 6px;
    border: none;
    font-size: 20px;
    color: rgb(50, 50, 50);
    border-radius: 50%;
}
.auth-button {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgb(218, 218, 218);
    padding: 4px 6px;
}
.auth-session {
    display: flex;
    justify-content: center;
}
.register-session {
    text-align: center;
    margin: 20px;
}