.trend-title {
  padding: 130px 20px 50px 20px;
  color: #2d2d2d;
  text-align: center;
  background-color: #f3f3f3;
}

.trending {
  padding: 20px;
}

.trend-table {
  max-width: 1000px;
  border: 2px solid #cccccc;
  border-radius: 10px;
  margin: 50px auto;
  padding-bottom: 10px;
}

.no-data-container {
  padding: 26px 40px 16px 40px;
  border-top: 1px solid #cccccc;
  display: flex;
  justify-content: center;
}

.trend-row {
  padding: 16px 20px;
  border-top: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trend-link {
  text-decoration: none;
}

.repos-name {
  margin: 10px 0 0 0;
  color: #515357;
  display: flex;
  flex-wrap: wrap;
  &:hover {
    color: #8c9097;
  }
}

.repos-describe {
  margin: 12px 0;
}

.icon {
  margin: 0 6px 0 0;
}

.other-info {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.trend-left {
  width: 80%;
}

.trend-right {
  display: flex;
  flex-direction: column;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #cccccc;
  position: relative;
}

.loading-text {
  font-size: 18px;
  position: absolute;
  top: 100px;
  font-weight: 600;
  color: #626d7a;
}

@media screen and (max-width:700px) {
  .trend-row {
    flex-direction: column;
    align-items: flex-end;
  }

.trend-left {
  width: 100%;
}
.trend-right {
  flex-direction: row;
  justify-content: start;
}
}