.login-register {
  display: flex;
  align-items: center;
}

.login-register-button {
  color: #555555;
  font-weight: 600;
  border-radius: 12px;
  background-color: #fff;
  padding: 10px 12px !important;
  border: none;
}
