
.filter-container {
    margin: 5px 10px 8px 10px;
    border-color: #2d2d2d;
    text-align: end;
}
.MuiAutocomplete-input {
    border-color: #ababab;
}
.input {
    padding: 2px 10px;
    margin: 0 6px;
}